# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

#Ipython Notebook
.ipynb_checkpoints

# Editors
.idea
.vscode
.ropeproject

# Databases
*.sqlite3

# vim
*.swp
*.swo

# Vagrant
.vagrant/

# OS X
.DS_STORE

# Coverage
.Coverage

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
!docs/lib/